/* General */
body {
  font-family: Roboto;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

li .logoImg {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
}

.container {
  padding: 100px 200px 100px 200px;
}

/* Header */
.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 200px 0px 200px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 0;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
}

.logoImg {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

/* Hero */
.heroBlock {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-between;
  padding: 10px 0;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroMainText {
  font-size: 48px;
  font-weight: 900;
  padding: 0 50px 5px 0;
  margin-bottom: 10px;
}

.heroSubText {
  font-size: 16px;
  font-weight: 500;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.heroSubText ul {
  font-size: 14px;
  list-style-type: disc;
}

.heroImage {
  margin: 0 0px 0px 50px;
  height: 500px;
  width: 500px;
  object-fit: cover;
  object-position: 45% 50%;
  border-radius: 10px;
  border: 1px solid #3882f6;
}

button {
  background-color: #3882f6;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 10px 40px;
  color: inherit;
}

button:hover {
  background-color: #3882f6;
  opacity: 0.6;
}

/* Information Header */

.informationHeader {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.informationHeader .title {
  font-size: 36px;
  font-weight: 900;
  padding: 0 0 5px 0;
  color: #1f2937;
  align-self: center;
  margin-bottom: 20px;
}

.imageGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imageContainer .image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border: 1px solid #3882f6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageGroup .caption {
  width: 200px;
  text-align: center;
  color: #1f2937;
}

/* Interesting Quote */
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;
}

.quote .quoteText {
  font-size: 36px;
  font-weight: 0;
  font-style: oblique;
  padding: 10px 0;
}

.quote .quoteAuthor {
  font-size: 18px;
  font-weight: 900;
  padding: 0 0 10px 0;
  align-self: flex-end;
}

/* Call to action */
.callToAction {
  display: flex;
  justify-content: center;
}

.callToAction .box {
  background-color: #3882f6;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin: 10px;
  padding: 50px 150px;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
}

.box .text .label {
  font-size: 18px;
  font-weight: 900;
}

.box button {
  border: 1px solid #f9faf8;
}

/* Footer */
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
